@using Microsoft.Extensions.Hosting
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noindex" />
    <meta name="theme-color" content="#000000" />
    <title></title>
    <script>"use strict";</script>
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css" />

</head>
<body>
    <script src="http.js"></script>
    <script src="htmls.js"></script>
    <script src="elementCreator.js"></script>
    <script src="appLogowanie.js"></script>
    <script src="/lib/js/bootstrap.bundle.min.js"></script>
</body>
</html>

